version: "3.9"

services:
  frontend:
    container_name: books-crud
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
